a.out
Ver_2_CS170_Fall_2021_Small_data__33.txt
Ver_2_CS170_Fall_2021_Small_data__61.txt
Ver_2_CS170_Fall_2021_Small_data__86.txt
Ver_2_CS170_Fall_2021_LARGE_data__14.txt
Ver_2_CS170_Fall_2021_LARGE_data__22.txt
Ver_2_CS170_Fall_2021_LARGE_data__27.txt